<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="https://sup3r-us3r.github.io" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Sup3r-Us3r" />
  <meta property="og:description" content="Designado para meus projetos" />
  <meta property="og:image" content="https://sup3r-us3r.github.io/imagens/preview.jpg" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
</head>
